<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liang.mapper.AccoutMapper">

    <select id="delete" resultType="Account" parameterType="Integer">
		delete from account where id = #{id}
	</select>
    <insert id="add" parameterType="Account">
		insert into account(id,name,money) values(#{id},#{name},#{money})
	</insert>
    <select id="findById" resultType="Account" parameterType="Integer">
		select * from account where id = #{id}
	</select>
    <select id="findList" resultType="Account">
		select * from account
	</select>

	<select id="listUser" resultType="Account">
		select user_id, name, unit_id money from base_user where unit_id = #{unitId}
	</select>

</mapper>